.DS_Store
*.tmp
*~

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
Unity/Assets/Materials/Real Materials/Showcase.meta
*.meta
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
*.ide
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
Unity/.vs/Unity/v15/Server/sqlite3/storage.ide
